{% extends "hotel/base.html" %}
{% load static %}

{% block title %} Succesful Booking Hotel Europa{% endblock %}

{% block main %}
    <div id = "center">
        <h2><strong> Thanks for entrusting us!</h2>
        <h2>Reservation number: {{ receipts.reservationID }}</h2>
        <h2>Name: {{ receipts.name }}</h2>
        <h2>Surname: {{ receipts.surname }}</h2>
        <h2>Book in date: {{ receipts.bookIn }}</h2>
        <h2>Book out date: {{ receipts.bookOut }}</h2>
        <h2>Room type: {{ receipts.roomType }}</h2>
        <h2>Price: {{ receipts.price }}</strong></h2>
    </div>
{% endblock %}
    